@import "./fonts/stylesheet.css";
@import 'vendor/normalize.css';

:root {
    /* colors */
    --primary-color: #FFA542;
    --text-color: #1C1C27;
    --secondary-color: #838383;
    --bg-color: #EAEAEA;
    --white: #fff;

    /* effects */
    --card-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    --card-border-radius: 30px;

    /* fonts */
    --font-family-name: "Montserrat", 'Times New Roman', serif;

    --font-size-xl: 25px;
    --font-line-xl: 30px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-name);

    --font-size-md: 17px;
    --font-line-md: 21px;
    --font-md: var(--font-size-md) / var(--font-line-md) var(--font-family-name);

    --font-size-sm: 13px;
    --font-line-sm: 16px;
    --font-sm: var(--font-size-sm) / var(--font-line-sm) var(--font-family-name);


    /* paddings */
    --page-x-paddings: 20px;

    /*  sizes */
    --navbar-height: 60px;
    --max-page-width: 1440px;
    --min-page-width: 320px;
}

.app {
    font: var(--font-md);
    background: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
}

.content-page {
    max-width: var(--max-page-width);
    min-width: var(--min-page-width);
    margin: 0 auto;
    padding: 0 var(--page-x-paddings);
}