.Page {
    flex-grow: 1;
    padding: 28px 17px 20px;
    flex-shrink: 0;
/*    todo сделать чтобы при пустом контенте расширялось*/
}


@media screen and (max-width: 480px) {
    .Page {
        padding: 14px 5px 10px;
    }
}