.Modal {
    position: fixed;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: start;
}

.hidden_scroll {
    overflow-y: hidden;
}

.open {
    opacity: 1;
    pointer-events: auto;
}

.content {
    scale: 0.5;
    transition: scale ease 0.3s;
    margin: 50px 10px 10px;
    position: relative;
}

.open .content {
    scale: 1;
}

.closing .content {
    scale: 0.5;
}


.overlay {
    position: fixed;
    inset: 0;
    background: var(--overlay-color);
}

.close_btn {
    position: absolute;
    right: -15px;
    top: -15px;
    color: var(--white);
    z-index: 10;
}

@media screen and (max-width: 768px) {
    .close_btn {
        right: 15px;
        top: 15px;
        color: var(--secondary-color);
    }

    .content {
        margin: 20px 10px 10px;
    }
}