.Button {
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    transition: all 0.1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    font: var(--font-md);
}

.default {
    background: var(--black);
    border-radius: 20px;
    padding: 20px 14px;
    color: var(--white);
}


.circle {
    padding: 8px;
    border-radius: 50%;
}

.Button:hover {
    opacity: 0.8;
}

.Button:active {
    color: var(--primary-color);
    scale: 0.98;
}