.Input {
    font: var(--font-md);
    font-weight: var(--fw-medium);
    padding: 10px 15px;
    border: 2px solid var(--black);
    border-radius: 5px;
    background: var(--white);
    outline: 0;
}