.ShippingMethods h2 {
    font: var(--font-xxl);
    font-weight: var(--fw-semi-bold);
}

.shipping_methods {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.shipping_method {
    cursor: pointer;
    width: max-content;
    font: var(--font-md);
    font-weight: var(--fw-semi-bold);
    transition: all .1s ease-in-out;
    border: 2px solid transparent;
    border-radius: 10px;
}

.selected {
    border: 2px solid var(--primary-color);
}


.shipping_method:hover {
    scale: 1.01;
}

@media screen and (max-width: 768px) {
    .ShippingMethods {

    }

    .shipping_method {
        font: var(--font-sm);
        font-weight: var(--fw-semi-bold);
    }

    .shipping_methods {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}