.shipping_methods {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.shipping_method {
    cursor: pointer;
    width: max-content;
    font: var(--font-md);
    font-weight: var(--fw-semi-bold);
    transition: all .1s ease-in-out;
    border: 2px solid transparent;
    border-radius: 10px;
}

.selected {
    border: 2px solid var(--primary-color);
}


.shipping_method:hover {
    scale: 1.01;
}